{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des albums{% endblock %}

{% block body %}
    {{ include('backend/entete.html.twig',{'rubrique': 'album'}) }}
    <div class="row">
        <div class="col text-right">
            <a href="{{ path('app_backend_showbiz_album_new') }}" class="btn btn-outline-primary">
                <i class="fa fa-plus-circle"></i> Ajouter
            </a>
        </div>

    </div>
    <div class="component-section no-code">
        <h5 id="section1" class="tx-semibold">album</h5>
        <p class="mg-b-25"></p>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible mg-b-25 fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <table id="userList" class="table">
            <thead>
            <tr>
                <th class="wd-5p text-center">#</th>
                <th class="wd-35p text-center">ARTISTE</th>
                <th class="wd-40p text-center">TITRE</th>
                <th class="wd-20p text-center">TYPE</th>
            </tr>
            </thead>
            <tbody>
            {% for album in showbiz_albums %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="text-center">
                        <img src="{{ absolute_url(asset('upload/showbiz/label/albums/'~ album.media)) }}" alt="" class="img-fluid rounded-circle" width="75">
                    </td>
                    <td>
                        <a href="#album{{ album.id }}" data-toggle="modal">{{ album.artiste.nom }}</a>
                    </td>
                    <td>{{ album.type }}</td>
                </tr>
                <div class="modal fade" id="album{{ album.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                    {{ render(url('app_backend_showbiz_album_show',{'id': album.id})) }}
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/prismjs/themes/prism-tomorrow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/css/jquery.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/select2/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/lib/prismjs/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/js/dataTables.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/select2/js/select2.min.js')) }}"></script>
    <script>
        $(function(){
            'use strict'

            $('#userList').DataTable({
                //responsive: true,
                language: {
                    searchPlaceholder: 'Recherche...',
                    sSearch: '',
                    lengthMenu: '_MENU_ elements/page',
                }
            });


            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        });
    </script>
{% endblock %}
