{% extends 'base_showbiz.html.twig' %}

{% block title %}{{ presentation.titre }}{% endblock %}

{% block body %}
    <main class="page-secondaire">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="fa-solid fa-house"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_showbiz_home') )}}">Showbiz</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Présentation</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-8 content-principal" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <h3>{{ presentation.titre }}</h3>
                    <img src="{{ absolute_url(asset('upload/showbiz/entreprise/'~ presentation.media)) }}" alt="{{ presentation.titre }}" class="img-thumbnail" style="width: 50%; float: left; margin-right: 20px">
                    {{ presentation.contenu|raw() }}
                </div>
                {{ render(url('app_showbiz_rubrique_droite')) }}
            </div>

            {{ render(url('app_showbiz_partenaires')) }}
        </div>

    </main>
{% endblock %}
{% block sliders %}
    <div class="bg-page2">
        <img src="https://picsum.photos/2000/150" alt="" class="img-fluid">
    </div>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ presentation.tags }}"  />
    <meta name="description" content="{{ presentation.resume }}" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="Dream Maker, Delrodie AMOIKON">
    <meta name="Copyright" content="www.dreammaker-ci.com">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('app_showbiz_presentation')) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ presentation.titre }}" />
    <meta property="og:description" content="{{ presentation.resume }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_showbiz_presentation')) }}" />
    <meta property="og:site_name" content="Dream Maker" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2022-03-31T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('upload/showbiz/entreprise/'~ presentation.media)) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ presentation.resume }}"/>
    <meta name="twitter:title" content="{{ presentation.titre }}"/>
    <meta name="twitter:domain" content="{{ absolute_url(path('app_showbiz_presentation')) }}"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('upload/showbiz/entreprise/'~ presentation.media)) }}"/>
{% endblock %}
