{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-md-12">{{ form_row(form.titre) }}</div>
        <div class="col-md-12 mt-3">{{ form_row(form.contenu) }}</div>
        <div class="col-md-6 mt-3">{{ form_row(form.media) }}</div>
        {% if showbiz_presentation.media %}
            <div class="col-md-6 mb-3 mt-5">
                <img src="{{ absolute_url(asset('upload/showbiz/entreprise/'~ showbiz_presentation.media)) }}" alt="{{ showbiz_presentation.titre }}" class="img-thumbnail" width="300" style="float: left; margin-right: 20px;">
            </div>
        {% endif %}
        <div class="col-md-12 mt-3">{{ form_row(form.tags) }}</div>
    </div>
    <div class="text-right mt-5">
        {{ form_widget(form) }}
        <a href="{{ path('app_backend_showbiz_presentation_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>

{{ form_end(form) }}
