<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Dream Maker{% endblock %}</title>
        {% block meta %}{% endblock %}
        <link rel="icon" href="{{ absolute_url(asset('build/images/favico.svg')) }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('dreammaker') }}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104978409-10"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-104978409-10');
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJ884ETE9P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-HJ884ETE9P');
        </script>
    </head>
    <body>
        <div class="wraper">
            <header>
                <section id="entete">
                    <div class="container" data-aos="fade-down" data-aos-duration="1500">
                        <div class="row entete-lien align-items-center">
                            <div class="col-12 d-flex justify-content-lg-between align-items-center">
                                <a href="{{ absolute_url(path('app_home'))}}"><i class="fa-solid fa-house"></i></a>
                                <a href="{{ absolute_url(path('app_maintenance')) }}">Communication</a>
                                <a href="{{ absolute_url(path('app_event_home'))}}">Évènementiel</a>
                                <a href="http://tv.dreammakerci.com" target="_blank">DreamTV</a>
                                <a href="https://www.facebook.com/dreammakercicom" target="_blank" class="icon-social"><i class="fa-brands fa-facebook-square"></i></a>
                                <a href="https://www.twitter.com/dreammakerci" target="_blank" class="icon-social"><i class="fa-brands fa-twitter-square"></i></a>
                                <a href="https://www.instagram.com/dreammakerci" target="_blank" class="icon-social"><i class="fa-brands fa-instagram-square"></i></a>
                                <a href="https://www.youtube.com/dreammakerci" target="_blank" class="icon-social"><i class="fa-brands fa-youtube-square"></i></a>
                                <a href="mailto:info@dreammaker-ci.com" class="coordonnee"><i class="fa-solid fa-envelope"></i> info@dreammaker-ci.com</a>
                                <a href="tel:+2250758999979" class="coordonnee"><i class="fa-solid fa-phone-flip"></i> 00225 0758999979</a>
                            </div>

                        </div>
                    </div>
                </section>
                <div class="menu">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" id="navbar_top">
                        <div class="container"  data-aos="fade-up" data-aos-duration="2500">
                            <a class="navbar-brand" href="{{ absolute_url(path('app_showbiz_home')) }}"><img src="{{ absolute_url(asset('build/images/logo-white.png')) }}" alt="" class="img-fluid" width="75"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav justify-content-between align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="{{ absolute_url(path('app_showbiz_home')) }}"><span>Accueil</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ absolute_url(path('app_showbiz_presentation') )}}"><span>Présentation</span>   </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Services
                                        </a>
                                        {{ render(url('app_showbiz_service_menu')) }}
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ absolute_url(path('app_showbiz_label') )}}"><span>Label</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><span>Blog </span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><span>Contact</span></a>
                                    </li>
                                    <li class="nav-item" style="margin-left: 10px;">
                                        <a href="http://shop.dreammakerci.com" class="btn btn-outline-danger btn-sm" target="_blank">Boutique</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                {% block sliders %}{% endblock %}
            </header>
            {% block body %}{% endblock %}
            <button id="btnToTop"><i class="fa-solid fa-angles-up"></i></button>
            <footer class="d-flex flex-wrap justify-content-between align-items-center  border-top page-secondaire-footer">
                <div class="container py-4">
                    <div class="row">
                        <p class="col-md-4 mb-0 text-muted justify-content-center align-items-center">&COPY; Copyright 2014-{{ "now"|date('Y') }}, Dream Maker | Tous droits réservés</p>

                        <ul class="nav col-md-8 justify-content-end">
                            <li class="nav-item"><a href="{{ absolute_url(path('app_showbiz_home')) }}" class="nav-link px-2"><i class="fa-solid fa-house"></i></a></li>
                            <li class="nav-item"><a href="{{ absolute_url(path('app_showbiz_presentation')) }}" class="nav-link px-2 ">Présentation</a></li>
                            <li class="nav-item"><a href="{{ absolute_url(path('app_showbiz_service_index')) }}" class="nav-link px-2">Services</a></li>
                            <li class="nav-item"><a href="{{ absolute_url(path('app_showbiz_label')) }}" class="nav-link px-2">Label</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2">Blog</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2">Plan du site</a></li>
                            <li class="nav-item"><a href="{{ absolute_url(path('app_backend')) }}" class="nav-link px-2" target="_blank">Backend</a></li>
                        </ul>
                    </div>
                </div>
            </footer>

        </div>



        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
            {{ encore_entry_script_tags('dreammaker') }}
            <script>
                $(document).ready(function() {
                    $('.logo-partenaire').slick({
                        slidesToShow: 6,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 1000,
                        arrows: true,
                        dots: false,
                        pauseOnHover: false,
                        responsive: [{
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 4
                            }
                        }, {
                            breakpoint: 520,
                            settings: {
                                slidesToShow: 2
                            }
                        }]
                    });
                });
            </script>
            <script>
                AOS.init();
            </script>
        {% endblock %}
    </body>
</html>
