{% extends 'base_showbiz.html.twig' %}

{% block title %}{{ parent() }} Showbiz{% endblock %}

{% block body %}
    <main class="page-secondaire">
        <div class="container">
            <div class="row publicite" data-aos="flip-down" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <div class="col text-center">
                    <img src="https://picsum.photos/1200/150" alt="" class="img-fluid">
                </div>
            </div>
            <section class="services">
                <div class="row g-4 py-2 row-cols-1 row-cols-sm-2 row-cols-lg-4">
                    {% for service in services %}
                        <div class="col" data-aos="{{ loop.index is odd ? 'fade-right' : 'fade-left' }}" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                            <div class="illustration">
                                {% if not service.media %}
                                    {% if service.slug == 'Production' %}
                                        <i class="fa-solid fa-gears"></i>
                                    {% elseif service.slug == 'Scene' %}
                                        <i class="fa-solid fa-music"></i>
                                    {% elseif service.slug == 'Brand' %}
                                        <i class="fa-solid fa-address-card"></i>
                                    {% else %}
                                        <i class="fa-solid fa-gavel"></i>
                                    {% endif %}

                                {% else %}

                                {% endif %}
                            </div>
                            <h1>{{ service.titre }}</h1>
                            <p>{{ service.resume }}...</p>
                            <a href="{{ path('app_showbiz_service_show', {'slug': service.slug}) }}">Voir détails &raquo;</a>
                        </div>
                    {% endfor %}

                </div>
            </section>
            {% if albums %}
                <section id="albums" class="accueil-albums">
                    <h1 class="titre">Dans nos points de ventes</h1>
                    <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-4" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        {% for album in albums|slice(0,4) %}
                            <div class="col">
                                <a href="#">
                                    <figure>
                                        <img src="{{ absolute_url(asset('upload/showbiz/label/albums/'~ album.media)) }}" alt="{{ album.titre}}" class="img-fluid">
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </section>
            {% endif %}

            {% if artistes %}
                <section id="artistes" class="accueil-artistes">
                    <h1 class="titre">Nos artistes</h1>
                    <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-4" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">

                        {% for artiste in artistes|slice(0,4) %}
                            <div class="col">
                                <a href="{{ absolute_url(path('app_showbiz_label_artiste_show', {'slug': artiste.slug})) }}">
                                    <div class="card">
                                        <img src="{{ absolute_url(asset('upload/showbiz/label/artistes/'~ artiste.media)) }}" alt="{{ artiste.nom }}" class="img-fluid">
                                        <div class="nom-artiste-overlay">
                                            <h4 class="">{{ artiste.nom }}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </section>
            {% endif %}
            {{ render(url('app_showbiz_partenaires')) }}
        </div>
    </main>
{% endblock %}

{% block sliders %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner"  data-aos="zoom-in" data-aos-duration="2000">
            {% for slide in slides %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ absolute_url(asset('upload/showbiz/slides/'~ slide.media)) }}" class="d-block w-100" alt="{{ slide.titre }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ slide.titre }}</h5>
                        <p>{{ slide.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="Dream Maker, musique, événementiel, multimédia, production, distribution "  />
    <meta name="description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia depuis 2010. Elle excelle dans les domaines suivants :" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="Dream Maker, Delrodie AMOIKON">
    <meta name="Copyright" content="dreammaker-ci.com">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('app_home')) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dream Maker - Fais ton rêve, nous le réalisons" />
    <meta property="og:description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia depuis 2010. Elle excelle dans les domaines suivants : " />
    <meta property="og:url" content="{{ absolute_url(path('app_home')) }}" />
    <meta property="og:site_name" content="Dream Maker" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/logo.png')) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Dream Maker est une entreprise opérant dans l’industrie musicale, l’événementiel et le multimédia depuis 2010. Elle excelle dans les domaines suivants :"/>
    <meta name="twitter:title" content="Dream Maker - Fais ton rêve, nous le réalisons"/>
    <meta name="twitter:domain" content="{{ absolute_url(path('app_home')) }}"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('build/images/logo.png')) }}"/>
{% endblock %}
