<section id="partenaire" class="partenaires">
	<h1>Nos partenaires</h1>
	<div class="logo-partenaires">
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_01.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_02.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_03.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_04.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_05.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_06.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_01.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_02.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_03.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_04.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_05.jpg') }}" alt="" srcset=""></div>
		<div class="logo"><img src="{{ asset('build/images/showbiz/partenaires/partenaire_06.jpg') }}" alt="" srcset=""></div>

	</div>
</section>
