{% extends 'base_showbiz.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
	<main class="page-secondaire">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="fa-solid fa-house"></i></a></li>
					<li class="breadcrumb-item"><a href="{{ absolute_url(path('app_showbiz_home') )}}">Showbiz</a></li>
					<li class="breadcrumb-item active" aria-current="page">Services</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-lg-8 content-principal" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
					<div class="accordion accordion-flush" id="accordionFlushExample">
						{% for service in services %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-heading{{ loop.index }}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
										<h4>{% if service.slug == 'Production' %}
											<i class="fa-solid fa-gears"></i>
										{% elseif service.slug == 'Scene' %}
											<i class="fa-solid fa-music"></i>
										{% elseif service.slug == 'Brand' %}
											<i class="fa-solid fa-address-card"></i>
										{% else %}
											<i class="fa-solid fa-gavel"></i>
										{% endif %}
										&nbsp;&nbsp; {{ service.titre }}</h4>
									</button>
								</h2>
								<div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse {{ loop.first ? 'show' : '' }}" aria-labelledby="flush-heading{{ loop.index }}" data-bs-parent="#accordionFlushExample">
									<div class="accordion-body">
										<p>{{ service.resume|raw }}</p>
										<a href="{{ path('app_showbiz_service_show', {'slug': service.slug}) }}">Voir détails &raquo;</a>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
				{{ render(url('app_showbiz_rubrique_droite')) }}
			</div>

			{{ render(url('app_showbiz_partenaires')) }}
		</div>

	</main>
{% endblock %}
{% block sliders %}
	<div class="bg-page2">
		<img src="https://picsum.photos/2000/150" alt="" class="img-fluid">
	</div>
{% endblock %}

{% block meta %}
	<meta name="keywords" content="{% for service in services %}{{ service.titre }},{% endfor %} "  />
	<meta name="description" content="Nos services" />
	<meta name="revisit" content="7 days" />
	<meta name="revisit-after" content="7 days">
	<meta name="Author" content="Dream Maker, Delrodie AMOIKON">
	<meta name="Copyright" content="www.dreammaker-ci.com">
	<meta name="Content-Language" content="FR">
	<meta name="distribution" content="global" />
	<meta name="Audience" content="All" />
	<meta name="Robots" content="full">

	<link rel="canonical" href="{{ absolute_url(path('app_showbiz_service_index')) }}" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Nos services" />
	<meta property="og:description" content="Nos services" />
	<meta property="og:url" content="{{ absolute_url(path('app_showbiz_service_index')) }}" />
	<meta property="og:site_name" content="Dream Maker" />
	<meta property="article:section" content="Item" />
	<meta property="article:published_time" content="2022-03-01 05:11:00" />
	<meta property="og:image" content="{{ absolute_url(asset('build/images/logo.png')) }}" />
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:description" content="Nos services"/>
	<meta name="twitter:title" content="Dream Maker : nos services"/>
	<meta name="twitter:domain" content="{{ absolute_url(path('app_showbiz_service_index')) }}"/>
	<meta name="twitter:image:src" content="{{ absolute_url(asset('build/images/logo.png')) }}"/>
{% endblock %}
